<div class="l-wrap js-wrap">
  <div class="l-header l-header-admin js-header">
    <div class="l-header-top u-clear">
      <div class="l-header-logo">
        <a class="logo " href="./">
          <%= image_tag("logo-admin.png", height: "28", width: "138") %>
        </a>
      </div>
      <div class="l-header-text">
        <%= link_to "LOGOUT", logout_admins_path %>
      </div>
    </div>
  </div>

  <div class="l-container u-clear">
    <div class="l-main js-main">
    <div class="l-main-block"></div>
    <%= link_to "New Article", new_blog_path, class: "button button-text l-main-button" %>
    <ul class="archive archive-admin">
      <% @blogs.each do |blog| %>
        <li class="archive-item">
          <a href="#" class="post-article">
            <div class="post-article-date" datetime="2016-9-16"><%= blog.created_at.strftime("%F") %></div>
            <h1 class="post-article-title"><%= blog.title %></h1>
          </a>
        </li>
      <% end %>
    </ul>
    </div>
  </div>

  <div class="l-footer l-footer-admin">
    <div class="l-footer-copyright">
      <small class="copyright">&copy;copyright</small>
    </div>
  </div>
</div>

